label {
  font-size: 0.75rem;
  color: $font-color-muted;
}

.form-control {
  margin-bottom: 1rem;
}

.form-row {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin-left: 1.5rem;
  }

  & > :not(:first-child) {
    margin-left: 1rem;
  }
}

.feedback--invalid {
  font-size: 0.75rem;
  color: $color-danger;
}
