select {
  width: 100%;
  padding: 0.25rem 0.5rem;
  color: $font-color-muted;

  background-color: $color-bg;
  /* stylelint-disable */
  background-image: linear-gradient(45deg, transparent 50%, $color-white 50%),
    linear-gradient(135deg, $color-white 50%, transparent 50%);
  /* stylelint-enable */
  background-repeat: no-repeat;
  background-position: calc(100% - 17px) 0.5rem, calc(100% - 12px) 0.5rem;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;

  border: 1px solid $color-white;

  // fixes dotted border on focus
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $font-color-muted;
  }

  &:hover {
    cursor: pointer;
  }

  // This is not possible, because it is OS specific
  // option {
  //   @include transition(color, background-color);
  //   &:hover {
  //     color: $font-color;
  //     cursor: pointer;
  //     // background-color: $color-highlight;
  //     background-color: red;
  //   }
  // }
}
