@import "./styles/scss/reset";
@import "./styles/scss/const";
@import "./styles/scss/helpers/helpers";
@import "./styles/scss/components/components";
@import "./styles/scss/vendor/vendor";
@import "./styles/scss/util/util";

html {
  font-size: 16px; // reference value for 1rem
}

body {
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: $font-family;
  font-weight: 400;
  color: $font-color;
  // user-select: none;
  background-color: $color-bg;
}
