/* stylelint-disable declaration-no-important */

/* font-size */
.t-size-sm {
  font-size: 0.75rem !important;
}

/* font-weight */
.t-thin {
  font-weight: 300;
}

.t-regular {
  font-weight: 400;
}

.t-bold {
  font-weight: 500;
}

.t-bolder {
  font-weight: 700;
}

.t-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line-height */
.t-line-height-1 {
  line-height: 1;
}

/* stylelint-enable declaration-no-important */
