.row {
  display: flex;

  &--gap-1 > *:not(:first-child) {
    margin-left: 1rem;
  }
}

.fx-inline {
  display: inline-flex;
}

.fx-grow {
  flex-grow: 1;
}

// align-items
.fx-a-center {
  align-items: center;
}

// justify-content
.fx-j-between {
  justify-content: space-between;
}

.fx-j-center {
  justify-content: center;
}

.fx-j-end {
  justify-content: flex-end;
}
