.btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;

  @include transition(background-color, opacity);

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &-small {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
  }
}

.btn-text {
  color: $font-color;
  opacity: 0.8;
  &:not([disabled]):hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.btn-outline {
  background-color: transparent;
  border: 1px solid;

  @include transition(background-color, color);

  &-highlight {
    color: $color-highlight;
    border-color: $color-highlight;

    &:hover {
      background-color: rgb(0, 167, 244, 0.4);
    }

    &.active {
      color: $font-color;
      background-color: $color-highlight;
    }
  }

  &-danger {
    color: $color-danger;
    border-color: $color-danger;

    &:hover {
      background-color: rgb(204, 46, 48, 0.4);
    }

    &.active {
      color: $font-color;
      background-color: $color-danger;
    }
  }
}

.btn-round {
  border-radius: 50%;
}

.btn-highlight,
.btn-danger {
  color: $font-color;
  opacity: 0.8;

  &:hover:not([disabled]) {
    opacity: 1;
  }
}

.btn-danger {
  background-color: $color-danger;
  &:focus {
    box-shadow: 0 0 4px 1px $color-danger;
  }
}

.btn-highlight {
  background-color: $color-highlight;
  &:focus {
    box-shadow: 0 0 4px 1px $color-highlight;
  }
}
