// =============================================================================
// COLOR
// =============================================================================
$color-white: #fff;
$color-gray: #e5eaf1;

// Accents
$color-highlight: #a8b700;
$color-highlight-dark: #98a000;
$color-highlight-darker: #577500;
$color-main: #52caea;
$color-main-dark: #00afe0;
$color-main-darker: #007c98;
$color-danger: #e58600;
$color-danger-dark: #cc7000;
$color-danger-darker: #994f00;

// Font
$font-color: #005e75;
$font-color-muted: #abbcc6;

// Background
$color-bg: $color-white;
$color-bg-action: $color-gray;

// =============================================================================
// FONT
// =============================================================================
// fontstack 2020: https://medium.com/@masakudamatsu/survey-system-font-stack-5f73a3b39776
// stylelint-disable-next-line value-keyword-case
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", arial, sans-serif;

// =============================================================================
// ANIMATION
// =============================================================================
$transition-duration: 300ms;
$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
