html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  padding: 0;
  margin: 0;
  font-weight: 300;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

select {
  padding: 0;
  border-radius: 0;
  appearance: none;
}

button::-moz-focus-inner {
  border: 0;
}
